@CHARSET "UTF-8";

@IMPORT url("modal.css");

@font-face {
	font-family: DosisSemiBold;
	src: url("../fonts/DosisSemiBold.ttf") format("truetype");
}

@font-face {
	font-family: DosisExtraBold;
	src: url("../fonts/DosisExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: Dosis;
	src: url("../fonts/DosisRegular.ttf") format("truetype");
}

/*titulo da tabela*/
.titulo-tabela {
	/*margin-top: 61px;
	margin-bottom: 68px;*/
	margin-top: 7px;
	margin-bottom: 10px;
	
	font-size: 40px;
	font-family: "Dosis";
	color: rgb(121, 121, 121);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
}

.tabela, .tabela2 {
	z-index: 10;
	clear: both;
	padding-top: 19px;
	align: center;
}

.tabela table, .tabela2 table  {
	margin: auto;
	border-spacing: 2px;
	border-collapse: separate;
	max-width: 990px;
	min-width: 990px;
}

.tabela tbody tr, .tabela2 tbody tr{
	height: 50px;
	background-color: #ebebeb;
	font-size: 15px;
	font-family: "Dosis";
	text-align: center;
}

.tabela tbody tr:nth-child(2n) td, .tabela2 tbody tr:nth-child(2n) td {
	background-color: #f3f3f3;
}

.tabela tbody td, .tabela2 tbody td {
	height: 50px;
	background-color: #ebebeb;
	font-size: 15px;
	font-family: "Dosis";
	text-align: center;
	
	padding: 4px 15px;
	overflow: hidden;
	border-width: 0px;
	border-style: none;
}

.tabela thead th, .tabela2 thead th, .ui-corner-top {
	height: 50px;
	background-color: #3cabc6;
	font-size: 15px;
	font-family: "Dosis";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	
	overflow: hidden;
	border-width: 0px;
	border-style: none;
}
.ui-corner-top{
	margin-left: 2px;
	margin-right: 2px;
}

.tabela tbody tr:hover td {
	background-color: #ffffff;
}

.tabela tbody td, .tabela2 tbody td {
	padding-left: 15px;
	padding-right: 15px;
}

.criar {
	position: relative;
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 2px;
	background-color: #322530;
	box-shadow: 1.5px 2.598px 0px 0px rgba(218, 217, 217, 0.392);
	cursor: pointer;
}

.criar>img {
	position: relative;
	top: 13px;
	left: 10px;
}

/*Caixa para pesquiar*/
.pesquisa {
	position: relative;
	width: 388px;
	height: 50px;
	float: right;
}

.botao-pesquia {
	position: relative;
	float: right;
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 2px;
	background-color: #322530;
	box-shadow: 1.5px 2.598px 0px 0px rgba(218, 217, 217, 0.392);
	cursor: pointer;
}

.botao-pesquia>img {
	position: relative;
	top: 13px;
	left: 10px;
}

/*Campos padão*/
.campo {
	position: relative;
	top: 25px
}

.campo input {
	height: 39px;
	width: 200px;
	margin-right: 5px;
	margin-left: 2px;
	margin-bottom: 10px;
	/*font*/
	font-size: 17px;
	font-family: "Dosis";
	line-height: 2.922;
	border-style: groove;
	color: rgb(143, 143, 143);
	padding-left: 20px;
	border-bottom-style: 1.5px dashed rgba(238, 238, 238, 1);
	box-shadow: 0.1px 2.0px 0px 0px rgba(218, 217, 217, 0.392);
	box-shadow: 1px 1px 1px 0px rgba(238, 238, 238, 1);
}

.pequeno, .pequeno input{
	width: 125px;
	height: 39px;
	top: -6px;left: 0px;
}

.grade input{
	width: 400px;
}



.left {
	float: left;
}

.input-ativo {
	position: relative;
	width: 313px;
	height: 49px;
	margin-left: 2px;
	font-size: 17px;
	font-family: "Dosis";
	color: rgb(143, 143, 143);
	padding-left: 20px;
	outline: none;
	background-color: rgb(244, 244, 244);
	border-style: none;
	box-shadow: 0.1px 2.0px 0px 0px rgba(218, 217, 217, 0.392);
	opacity: 1;
	visibility: visible;
	-webkit-transition: width 0.3s ease-in, margin 0.3s ease-in, opacity
		0.3s ease-in;
	-moz-transition: width 0.3s ease-in, margin 0.3s ease-in, opacity 0.3s
		ease-in;
}

.input-inativo {
	width: 0px;
	height: 49px;
	margin-left: 308px;
	border-style: none;
	opacity: 0;
	cursor: default;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}

/* autocompet nome cliente */
.ui-autocomplete-panel{
	overflow:scroll;
	height: 250px!important;
}

.ui-autocomplete-panel  ul {
	width: 97%;
	background-color: white;
}

.ui-autocomplete-panel li:hover {
	background-color: #3CABC6;
}

.ui-state-highlight {
	background-color: #3CABC6;
}

.ui-growl-item-container {
	background-color: white;
	border: none;
	font-family: Dosis;
	font-weight: normal;
	color: #3cabc6;
}

.ui-shadow {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.ui-growl-title {
	margin-top: 10px;
}

.ui-growl-image {
	margin-top: 5px;
}

.switch.round {
	position: relative;
	width: 10px;
	left: 10%;
	top: 50%;
}

.ui-datepicker {
	z-index:4005;
	margin-top:10px;
	background: #FFF none repeat scroll 0% 0%;
	width: 220px;
	-moz-border-radius: 7px; -webkit-border-radius : 7px; border-radius :7px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-datepicker-calendar, ui-datepicker-calendar table {
	background: #f2f2f2 none repeat scroll 0% 0%;
	-moz-border-radius: 7px; -webkit-border-radius : 7px; border-radius :7px;
	margin-left: 0px !important;
}

.jqplot-target {/*fonte grafico*/
    color: #ffffff;
    font-family: "Dosis",Arial,Helvetica,sans-serif;
}

table.jqplot-table-legend{
	color:black;
	font-family: "Dosis";
	font-style: bold;
	
	background-color: #fdfbff;
	border: 1px solid #3CABC6;
}

.ui-button {
	height: 50px;
}

.ui-fileupload{
	width: 180px !important;
}


::-webkit-input-placeholder {
	font-size: 17px;
	font-family: "Dosis";
	color: rgb(143, 143, 143);
}