@CHARSET "UTF-8";

@font-face {
	font-family: DosisSemiBold;
	src: url("../fonts/DosisSemiBold.ttf") format("truetype");
}

@font-face {
	font-family: DosisExtraBold;
	src: url("../fonts/DosisExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: Dosis;
	src: url("../fonts/DosisRegular.ttf") format("truetype");
}

*, *:before, *:after {
    box-sizing: content-box;
}

a{
	color:#008CBA;
	line-height: inherit;
	text-decoration: none;
}

.logo {
	margin-top: 13px;
	margin-left: 1px;
	height: 90px;
	width: 90px;
}

.menu {
	z-index: 10;
	display: inline;
	top: 0px;
	left: 0px;
	float: right;
	position: fixed;
	height: 165px;
	width: 100%;
}

.menu>div>div {
	width: 990px;
	margin: auto;
}

.barra_superior {
	height: 116px;
	background-color: rgb(60, 171, 198);
}

.barra_inferior {
	height: 49px;
	top: 116px;
	background-color: rgb(243, 243, 243);
}
.ajuda {
	font-size: 15px;
	font-family: "Dosis";
	color: rgb(121, 121, 121);
	line-height: 3.312;
	position: absolute;
	margin-left: 5px;
	line-height: 3.312;
}

/*logado ������ um submenu do usuario
*/
.menu-usuario {
	position: relative;
	float: right;
	text-align: right;
	width: 200px;
	top:0px;
	height: 50px;
	width: 10%;
	cursor: pointer;
}


.menu-usuario .logado {
	z-index: 20;
	position: relative;
	cursor: pointer;
	font-size: 15px;
	font-family: "Dosis";
	color: rgb(121, 121, 121);
	line-height: 3.312;
	margin-right: 20px;
	outline: none;
	height: 100%;
}

/*triangulo*/
.menu-usuario .logado:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	margin-left: 5px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #312530 transparent;
}
/*caixa do submenu*/
.menu-usuario .submenu {
	/* Size & position */
	position: relative;
	float: right;
	padding-left: 0px;
	top: 49px;
	/* Styles */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.0s ease-in;
	-moz-transition: all 0.0s ease-in;
	-ms-transition: all 0.0s ease-in;
	-o-transition: all 0.0s ease-in;
	transition: all 0.0s ease-in;
	border:1px inset #312530;
	list-style: none;
	border-radius: 2px;
	border-top-right-radius: 5px;
	width: 119px; height: 90px;
	background-color: #312530;
}

:hover.menu-usuario .submenu {
	visibility: visible;
	opacity: 1;
	
}
/*triangulo do submenu*/
.menu-usuario .submenu:BEFORE {
	content: "";
	border-color: transparent transparent transparent transparent;
}

:hover.menu-usuario .submenu:after{
	left:105px;
}

.menu-usuario .submenu:after{
	position: absolute;
	content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 7px;
    left:92%;
    border-color: transparent transparent #312530 transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    z-index: 88; 
}
.menu-usuario .submenu li{
	height: 45px;
}

.menu-usuario .submenu li > a {
	display: block;
	text-decoration: none;
	/*Font*/
	font-size: 17px;
	font-family: "Dosis";
	color: #9a9494;
	line-height: 2.922;
	position:relative;
	bottom: 10px;right: 10px;
	height: 90%; width: 90%;
}

.menu-usuario .submenu li:last-child {
	text-align: right;
	border-top: 1px solid #3e2f3d;
}
.menu-usuario .submenu li:hover, .menu-usuario .submenu li:focus{
	background: #443843;
}
.menu-usuario .submenu li a:hover{
	color: #f4f4f4;
}


.content {
	position: relative;
	z-index: 9;
	width: 990px;
	margin: auto;
	margin-top:-10px;
	padding-top: 165px;
}