@CHARSET "US-ASCII";
@IMPORT url("default.css");


.botoes {
	position: relative;
	margin: auto;
	top: 80px;
	width: 583px;
	height: 392px;
}

.botoes a img {
	position: relative;
	margin: 5px 5px 5px 5px;
}

.botoes a img:HOVER {
	opacity: 0.9;
}


@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 0.5s ease-in-out;
-moz-animation: fadeIn 0.5s ease-in-out;
-o-animation: fadeIn 0.5s ease-in-out;
animation: fadeIn 0.5s ease-in-out;
}