@CHARSET "US-ASCII";
div {
	width: 100%;
}

.logo {
	margin-top: 13px;
	margin-left: 1px;
	height: 90px;
	width: 90px;
}

.menu {
	z-index: 10;
	display: inline;
	top: 0px;
	left: 0px;
	float: right;
	position: fixed;
	height: 165px;
}

.menu > div > div {
	width: 990px;
	margin: auto;
}

.barra_superior {
	height: 116px;
	background-color: rgb(60, 171, 198);
}

.barra_inferior {
	height: 49px;
	top: 116px;
	background-color: rgb(243, 243, 243);
}

/*botao home*/
.barra_inferior  a>img {
	float: right;
	top: 5.5px;
	margin-right: 10px;
}

/*texto ajuda*/
.ajuda {
	font-size: 15px;
	font-family: "Dosis";
	color: rgb(121, 121, 121);
	line-height: 3.312;
	position: absolute;
	margin-left: 5px;
	line-height: 3.312;
}

/*logado é um submenu do usuario
*/
.menu-usuario{
	position:relative;
	float:right;
	text-align: right;
	width:90px;
}
.menu-usuario span{
	z-index:20;
	position: relative;
	cursor: pointer;
	font-size: 15px;
	font-family: "Dosis";
	color: rgb(121, 121, 121);
	line-height: 3.312;
	margin-right: -102px;
	outline: none;/*marcação de azul no elemento*/
}

/*triangulo*/
.menu-usuario span:after {
    content: "";
    width: 0;height: 0;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    margin-left: 5px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: rgb(121, 121, 121) transparent;
}
/*caixa do submenu*/
.menu-usuario .submenu{;
    /* Size & position */
   	position: relative;
   	float:right;
	padding-left: 0px;
	top:49px;
	margin:0px 0px 0px 0px;
	
   	
    /* Styles */
    width: 119px;height: 90px;
	background: #312530;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.2s ease-in;
    list-style: none;
    border-radius:2px;
    
    /* Hiding */
    opacity: 0;
    visibility: collapse;
}

:hover.menu-usuario .submenu{
	visibility: visible;
	opacity: 1;
}
/*triangulo do submenu*/
.menu-usuario .submenu:after {
    content: "";
	position:absolute;
    bottom: 100%;
    right: 1px;/*localização do triangulo de encaixe*/
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #312530 transparent;    
}

.menu-usuario .submenu li a {
    display: block;
    text-decoration: none;
    
    /*Font*/
	font-size: 17px;
  	font-family: "Dosis";
  	color:  #9a9494;  
  	line-height: 2.922;
  	margin-right: 19px;
}
.menu-usuario .submenu li:last-child{
	margin-top: -7px;
}

/* Hover state */
.menu-usuario .submenu li a:hover{
	color: #f4f4f4; 
}






/*
	div central da pagina
*/
.content {
	position: relative;
	z-index: 9;
	width: 990px;
	margin: auto;
	margin-top: 165px;
}



.botoes {
	position: relative;
	margin: auto;
	margin-top: 230px;
	width: 583px;
	height: 392px;
}

.botoes a img {
	position: relative;
	margin: 5px 5px 5px 5px;
}

.botoes a img:HOVER {
	opacity: 0.9;
}


@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 0.5s ease-in-out;
-moz-animation: fadeIn 0.5s ease-in-out;
-o-animation: fadeIn 0.5s ease-in-out;
animation: fadeIn 0.5s ease-in-out;
}