@IMPORT url("default.css");
@CHARSET "UTF-8";

@font-face {
	font-family: DosisSemiBold;
	src: url("../fonts/DosisSemiBold.ttf") format("truetype");
}

@font-face {
	font-family: DosisExtraBold;
	src: url("../fonts/DosisExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: Dosis;
	src: url("../fonts/DosisRegular.ttf") format("truetype");
}

.botoes {
	position: relative;
	margin: auto;
	top: 80px;
	width: 583px;
	height: 392px;
}

.botoes a img {
	position: relative;
	margin: 5px 5px 5px 5px;
}

.botoes a img:HOVER {
	opacity: 0.9;
}


.modal_pequeno{
	position: absolute;
	max-width: 250px;
	min-width: 240px;
}

.botao {
    position: relative;
    float: left;
    display: block;
    width: 90px;
    border: medium none;
    height: 50px;
    background-color: #3CABC6;
    box-shadow: 1.5px 2.598px 0px 0px rgba(218, 217, 217, 0.392);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-family: DosisSemiBold;
    font-size: 14px;
    color: #FFF;
}




@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 0.5s ease-in-out;
-moz-animation: fadeIn 0.5s ease-in-out;
-o-animation: fadeIn 0.5s ease-in-out;
animation: fadeIn 0.5s ease-in-out;
}