
.modal {
	position: absolute;
	width: 85%;
}

.modal_pequeno{
	position: absolute;
	width: 55%;
}

.formulario  table{
	position:relative;
	margin:auto;
	align:center;
	/*font*/
	font-size: 17px;
	font-family: "Dosis";
	color: rgb(143, 143, 143);
	line-height: 2.922;
	border-style: none;
}
.formulario  table  td{
	text-align: justify;
	padding: 0px 0px 10px 10px;	
	cellspacing: 5px;
	height: 68px;max-height: 68px;
}
.forulario table td:nth-child(2n){
	float: left;
}

.formulario .bt-cadastrar{
	
	background-color: rgb(50, 37, 48);
  	box-shadow: 2.5px 4.33px 0px 0px  rgba(218, 217, 217, 0.9);
  	border-style: none;
  	top: 560px;
  	width: 100px;
  	height: 50px;
  	float:right;
  	text-align: center;
  	
  	/*font*/
	font-size: 17px;
	font-family: "Dosis";
	color: rgb(143, 143, 143);
	line-height: 2.922;
	border-style: none;
	cursor: pointer;
}

.formulario .bt-cadastrar:HOVER{
	background-color: #433441;
}

.formulario input{
	height: 39px;
	margin-right: 5px;
	margin-left: 2px;
	
	/*font*/
	font-size: 17px;
	font-family: "Dosis";
	line-height: 2.922;
	border-style: groove;
	
	color: rgb(143, 143, 143);
	padding-left: 20px;
	border-bottom-style:1.5px dashed rgba(238, 238, 238, 1);
	box-shadow: 0.1px 2.0px 0px 0px rgba(218, 217, 217, 0.392);
	box-shadow: 3px 3px 1px 0px rgba(238, 238, 238, 1);
}

.formulario .campo-grande {
	width: 313px;
	padding-bottom: 10px;
}

.formulario .campo-medio {
	width: 113px;
	height: 47px;
}

.formulario .radio-buton{
	float: left;
	width: 150%;
}
.radio-buton label,.radio-buton input{
	height: 10px;
}

/*combobox
.combobox{
	background: transparent;
  	width: 95%;
  	padding: 5px;

	border-style: groove;
	border-bottom-style:1.5px dashed rgba(238, 238, 238, 1);
	box-shadow: 0.1px 2.0px 0px 0px rgba(218, 217, 217, 0.392);
	box-shadow: 3px 3px 1px 0px rgba(238, 238, 238, 1);
	
	outline: none;	

  	border-radius: 0px;
  	height: 39px;
  	-webkit-appearance: none;
  	
	font-size: 17px;
	font-family: "Dosis";
	line-height: 2.922;
	color: rgb(143, 143, 143);
	
	overflow: hidden;
}*/


