@CHARSET "UTF-8";

@font-face {
	font-family: DosisSemiBold;
	src: url("../fonts/DosisSemiBold.ttf") format("truetype");
}

@font-face {
	font-family: DosisExtraBold;
	src: url("../fonts/DosisExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: Dosis;
	src: url("../fonts/DosisRegular.ttf") format("truetype");
}


body .dimensao {
	width: 990px;
	margin: auto;
}

.top {
	height: 92px;
	width: 100%;
	background-color: #3cabc6;
}

.logo {
	position: relative;
	top: 8px;
	height: 75px;
	width: 75px;
	
}

.titulo {
	position: relative;
	top: 10px;
	left: 29px;
	font-family: DosisSemiBold;
	font-size: 30px;
	color: #ffffff;
}

.nome {
	float: right;
	margin: 20px 100px;
	font-family: "Dosis";
	font-size: 30px;
	color: #ffffff;
}

.home{
	float: right;
	background-color: #389db5;
	height: 100%;
	width: 52px;
}

.home img {
	width: 29px;
	height: 32px;
	vertical-align:top;
	margin-top: 31.5px;
	margin-left:11.5px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.top>.br-fullscrean {
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

.descricao {
	height: 185px;
	width: 100%;
	background-color: #efeeee;
	text-align: center;
	line-height: 2;
}

.produto {
	position: relative;
	top: 10px;
	color: #3cabc6;
	font-family: "Dosis";
	font-size: 40px;
}

.calculo {
	color: #3cabc6;
	font-family: Dosis;
	font-size: 35px;
}

.calculo span {
	color: #000000;
	font-family: DosisExtraBold;
}

.footer {
	height: 58%;
}

.footer_fim {
	height: 83%;
}

.itens {
	float: right;
	width: 49%;
	height: 102%;
}

.formulario {
	float: right;
	width: 47%;height: 102%;
	background-color: #3cabc6;
	color: #000000;
	font-family: Dosis;
	font-size: 30px;
	padding: 10px 0px 0px 20px;
}

.total {
	position: relative;
	width: 355px;
	height: 90px;
	top:0px !important;
	border: 1px solid #ffffff;
	font-size: 62px;
	text-align: center;
	width: 355px;
	height: 90px; top : 15px;
	border: 1px solid #ffffff;
	font-size: 62px;
	text-align: center;
}

.campos {
	position: relative;
	top: 20px
}

.campos  input {
	position: relative;
	height: 57px;width: 105px;
	
	background-color: #ffffff;
	box-shadow: 2.5px 4.33px 0px 0px rgba(48, 138, 160, 0.392);
	border: none;
	color: #000000;
	font-family: "Dosis";
	font-size: 18px;
	padding-left: 15px;
}

.campos  #codigo_input, .campo #codigoProd, .grande input, .grande {
	margin-right: 10px;
	width: 239px;
}


#nomeCliente_panel ul, #codigo_panel ul{
	width: 93%;
	background-color: white;
}

#nomeCliente_panel table, #codigo_panel table{
	width: 93%;
	background-color: white;
}

#nomeCliente_panel li:hover, #codigo_panel li:hover{
	background-color: #3CABC6;
}


.botao {
	position: relative;
	float: left;
	display: block;
	width: 90px;
	border:none;
	height: 50px;
	margin-right: 2px;
	background-color: #3cabc6;
	box-shadow: 1.5px 2.598px 0px 0px rgba(218, 217, 217, 0.392);
	cursor: pointer;
	
	margin-right:10px;
	margin-top:10px;
	
	color:white;
	
	font-family: DosisSemiBold;
	font-size: 14px;
	color: #ffffff;
}

.campos  label {
	font-size: 18px;
	color: #000000;
}

.imprimir{
	margin-top: 35px;
	
}
.imprimir input{
	float: left;
}

.imprimir label{
	border-collapse: collapse;
	font-size: 15px;
	font-family: Dosis;
	font-weight: normal;
	color: #000;
}	

.finalizar {
	position: relative;
	float: left;
	margin-right:8px;
	top: 20px;
	width: 175px;
	height: 60px;
	background-color: #c8fa00;
	box-shadow: 2.5px 4.33px 0px 0px rgba(48, 138, 160, 0.392);
	font-size: 20px;
	font-family: DosisSemiBold;
	text-align: center;
	padding-top: 5px;
	
	cursor: pointer;
	border-width: 0px;
	
	
	padding-top: 8px;
	color: #a1a1a1;
	text-decoration: none;
	display:inline-block;
	color: #000000;
}

.itens{
	position:relative;
	padding-top: 15px;
}

.itens  > label {
	font-size: 30px;
	font-family: Dosis;
	color: #3cabc6;
	margin-bottom: 20px;
	float: left;
}



.tabela {
	clear:both;
	padding-top: 15px;
	height:80%;
    overflow: scroll;    
}

.tabela table {
	position:relative;left:0px;
	width: 95%;
	border-collapse: collapse;
	margin-left: 1px;
	
	font-size: 15px;
	font-family: Dosis;
	font-weight:normal;
    color:#000000;//color:#b7b7b7;
}

.tabela tbody tr {
	height: 50px;
	text-align: center;
}

.tabela tbody tr:nth-child(2n) td{
}

.tabela tbody td {
	height: 50px;
	
	border:0.25px double #b7b7b7; 
}

.tabela thead th {
	height: 50px;

	font-weight:normal;
	text-transform: uppercase;
	text-align: center;
	color: #3cabc6;

	padding-left: 15px;
	padding-right: 15px;
	
	border:1px double #3cabc6;
}

.tabela tbody tr:hover td{
	background-color: #fcfcfc;
}

.tabela tbody td {
	padding-left: 15px;
	padding-right: 15px;
}

.modal {
	position: absolute;
	max-width: 85%;
}

.modal_pequeno{
	position: absolute;
	max-width: 40%;
}


.scroll{
	overflow:scroll;
}

.codigo_autocomplet{
	position: relative;
	height: 57px;width: 239px;
	
	margin-right: 10px;
	
	background-color: #ffffff;
	box-shadow: 2.5px 4.33px 0px 0px rgba(48, 138, 160, 0.392);
	border: none;
	color: #000000;
	font-family: "Dosis";
	font-size: 18px;
	padding-left: 15px;
	padding-top:15px;
	
	resize: none;
	
	line-height: 24px;
	
	overflow:hidden;
	
	
}

.campo_complet_nome{
	float: right;
	margin-right: 20px;
}

.campo_complet_nome_input{
	position: relative;
	height: 57px;
	width: 350px;
	
	background-color: #ffffff;
	box-shadow: 2.5px 4.33px 0px 0px rgba(48, 138, 160, 0.392);
	border:  0.5px solid #3CABC6;
	color: #000000;
	font-family: "Dosis";
	font-size: 18px;
	padding-left: 15px;
	
	margin-right: 10px;
}


.panel_complet_nome{
	border: 1px solid #3CABC6;
	width: 340px;
}

.panel_complet_nome  ul {
	width: 335px;
	background-color: white;
}

.panel_complet_nome li:hover {
	background-color: #3CABC6;
}


.ui-state-highlight {
	background-color: #3CABC6;
}

.ui-growl-item-container {
	background-color: white;
	border: none;
	font-family: Dosis;
	font-weight: normal;
	color: #3cabc6;
}








.ui-growl-item-container{
	background-color: white ;
	border: none;
	font-family: Dosis;
	font-weight:normal;
    color:#3cabc6;
}

.ui-shadow {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.ui-growl-title{
	margin-top: 10px;
}

.ui-growl-image{
	margin-top: 5px;
}


